@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height:100vh;
    overflow-x: hidden;
}
.heading img{
    height: 50px;
    filter: saturate(3);
}
.heading h1{
    font-family: "Yellowtail", cursive;
    font-weight: 600;
    font-style: normal;
}
.heading p{
    font-size: 25px;
    text-align: left;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.word {
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.4s ease;
}

.word.visible {
    visibility: visible;
    opacity: 1;
}
.card{
    width: 100%;
    max-width: 800px;
    border: none;
}
.card .destination input{
      padding: 10px 25px 10px 25px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
      border-radius: 20px;
      
}
.card .form-select{
    border-radius: 20px;
          padding: 10px 25px 10px 25px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}
.card .form-label{
      font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    
}
.interest{
        background:#f2f2f2;
        padding: 12px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
.interest input{
    border: 1px solid rgba(117, 117, 117, 0.507);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

    .interest .form-check-label{
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
        font-weight: 100;
    }

.search-trip-btn button {
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    padding: 15px 20px;
    font-size: 20px;
    position: relative;

}
.search-trip-btn button::after {
    content: "";
    position: absolute;
    inset: 4px;
    pointer-events: none;
    border: 3px solid whitesmoke;
    border-radius: 50px;
}
.recent-trip {
    max-width: 1000px;
    width: 100%;
    padding: 20px 20px 50px 20px;
    margin: 100px 0px auto;

    background-color:#f1f1f1;
  
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(220px, 2fr)
    ); /* smaller cards */
    gap: 20px;
}

.recent-trip h1 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
}
.trip-card {
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 200px; 
    margin: auto;
}

.trip-card img {
    margin: auto;
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    height: 100px;
}

.trip-body {
    padding: 12px;
}

.trip-body h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}

.trip-tags {
    display: flex;
    gap: 10px;
}

.tag {
    background: #f1f1f1;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}
.topic-item.left {
  align-self: flex-start;
}

.topic-item.right {
  align-self: flex-end;
  text-align: right;
}
.footer-section {
    background-color: #212123;
    padding: 20px 0 20px;
    border-top: 1px solid #e9ecef;
}
.footer-section h6{
 color: #ababac;
}
.footer-section p{
     color: #848485;
}
.footer-links li {
    margin-bottom: 10px;
    
}

.footer-links a {
    text-decoration: none;
     color: #848485;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0d6efd; 
}

/* Social Icon Styling */
.social-icons a {
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
     color: #848485;
}

.social-icons a:hover {
    transform: translateY(-5px);
}
@media (max-width:1024px) {
   
    .heading p{
        padding: 0 10px 0 10px;
    
    }
    .form-select, .form-control{
        height: 60px;
        border-radius: 12px;
    }
    
    .interest .form-check-label{
        font-weight: 500;
    }
    .interest .form-check-input{
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    .topic-item h4{
    font-size: 18px;
    }
    .footer-section {
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }
}
@media (max-width:440px) {
    .card{
        border: none;
        padding: 15px !important;
    }

      .interest .form-check-label{
            font-size: 15px;
    }
    .recent-trip{
          grid-template-columns: repeat(2, 1fr);
          border-radius: 0px
          
    }
       .trip-tags .tag {
        font-size: 14px;
        padding: 4px 8px;
    }
    .trip-body h4{
        font-size: 15px;
    }
    .heading p{
        text-align: left;
        font-weight: 500;  
        background-color: #efefef;
        border-radius: 0 50px 50px 0;
        margin: 0 30px 0 0; 
        border: 5px solid rgb(222, 232, 251);
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border-left: none;
        font-size: 18px;
    }
    .search-trip-btn button {
    width: 100%;
}
.footer-section {
        padding: 20px 10px 20px;
    }
    .footer-section h5, .footer-section h6 {
        margin-top: 10px;
    }

}