@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.navbar img{
    height: 50px;
}
.navbar h4{
    font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}
.navbar h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.planner img{
    height: 50px;
    border-radius: 50%;
}
.planner h2{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
  color: rgb(255, 195, 116);
 
}
.content-title p{
    font-size: 60px;
   font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height:1.3;
  font-weight: 800;
}
.create-trip-btn button{
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    padding: 15px 30px;
    position: relative;
}
.create-trip-btn button::after{
    content: "";
    position: absolute;
    inset: 4px;
    pointer-events: none;
    border: 3px solid whitesmoke;
    border-radius: 50px;
}
.create-trip-btn img{
    height: 35px;
}
