
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar img{
    height: 50px;
}
.navbar h4{
    font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}
.navbar h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.planner img{
    height: 50px;
    border-radius: 50%;
}
.planner h2{
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
  color: rgb(255, 195, 116);
 
}
.content-title p{
    font-size: 60px;
   font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height:1.3;
  font-weight: 800;
}
.create-trip-btn button{
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    padding: 15px 30px;
    position: relative;
}
.create-trip-btn button::after{
    content: "";
    position: absolute;
    inset: 4px;
    pointer-events: none;
    border: 3px solid whitesmoke;
    border-radius: 50px;
}
.create-trip-btn img{
    height: 35px;
}
.trip-card {
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.trip-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.trip-body {
    padding: 16px;
}

.trip-body h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.trip-tags {
    display: flex;
    gap: 10px;
}

.tag {
    background: #f1f1f1;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}
.trending-trip {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    max-width: 1200px;   /* desktop max */
    width: 100%;         /* mobile-friendly */

    padding: 20px;
    margin: 40px auto;   /* normal spacing */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}




