* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height:100vh;
}
.card{
    width: 100%;
    max-width: 600px;   
}

.search-trip-btn button {
 
    border-radius: 50px;
    border: 2px solid whitesmoke;
  
    position: relative;
}
.search-trip-btn button::after {
    content: "";
    position: absolute;
    inset: 2px;
    pointer-events: none;
    border: 2px solid whitesmoke;
    border-radius: 50px;
}
@media (max-width:1024px) {
    .card{
        width: 100%;
        max-width: 800px;   
    }
}

@media (max-width:500px) {
    .card{
        width: 100%;
        max-width: 100%;
    }
    
}

