@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("../images/airplanee.jpg");
    background-size: 700px;        /* cover full screen */
    background-position: center;   /* keep centered */
    background-repeat: no-repeat;
    background-attachment: fixed;  /* stops image from scrolling */
    height:100vh;
    inset: 0;
}
.box{
    backdrop-filter: blur(5px);
    background-color: rgba(209, 209, 209, 0.25); /* dark glass effect */
}
.navbar {
    background: rgba(180, 180, 180, 0.38);
    padding: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px) saturate(180%);
    -webkit-backdrop-filter: blur(10.3px) saturate(180%);
    border: 1px solid rgba(62, 62, 62, 0.97);
}
.navbar img {
    height: 50px;
}
.navbar h4 {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}
.navbar h5 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 18px;
}
.planner img {
    height: 60px;
    border-radius: 50%;
}
.planner h2 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 195, 116);
}
.content{
    
}
.content-title p {
    font-size: 60px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.3;
    font-weight: 800;
}
.create-trip-btn button {
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    padding: 15px 20px;
    position: relative;
    font-size: 20px;
}
.create-trip-btn button::after {
    content: "";
    position: absolute;
    inset: 4px;
    pointer-events: none;
    border: 3px solid whitesmoke;
    border-radius: 50px;
}
.create-trip-btn img {
    max-height: 35px;
    height: auto;
}
.trending-trip {
    max-width: 1000px;
    width: 100%;
    padding: 20px 20px 50px 20px;
    margin: 100px 0px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    background-color:#f1f1f1;
    border: 2px solid rgba(0, 0, 0, 0.256);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(220px, 2fr)
    ); /* smaller cards */
    gap: 20px;
}
.trending-trip h1 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 40px;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.trip-card {
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 200px; /* prevents too-big cards */
    margin: auto;
}

.trip-card img {
    margin: auto;
    width: 100%;
    aspect-ratio: 1 / 1; /* always square */
    object-fit: cover;
    display: block;
    height: 100px;
}

.trip-body {
    padding: 12px;
}

.trip-body h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.trip-tags {
    display: flex;
    gap: 10px;
}

.tag {
    background: #f1f1f1;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
}
.trip-topic{
    margin: 100px 0px auto;
}
.trip-topic h1{
    margin-bottom: 40px;
    
}
.trip-topic p{
    max-width: 600px;
    width: auto;
    background-color: #d4d4d4;
    text-align: justify;
}

@media (max-width: 596px) {
    .navbar {
        background: rgba(180, 180, 180, 0.38);
        border-radius: 0 0 20px 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.3px) saturate(180%);
        -webkit-backdrop-filter: blur(10.3px) saturate(180%);
        border: 1px solid rgba(62, 62, 62, 0.97);
        justify-content: center;
    }
    .navbar .nav-logo {
        margin: auto !important;
    }
    .navbar .trending-title {
        display: none !important;
    }
    .content .content-title p {
        font-size: 50px;
    }
    .content .planner h2 {
        font-size: 50px;
    }
    .planner img {
        height: 80px;
    }
    .trending-trip{
          grid-template-columns: repeat(2, 1fr);
          border-radius: 0%;
    }
       .trip-tags .tag {
        font-size: 14px;
        padding: 4px 8px;
    }
    .trip-body h4{
        font-size: 15px;
    }
    .trip-topic p{
    
    }
}
@media (max-width: 476px) {
    .navbar {
        padding: 3px;
        border-radius: 0 0 10px 10px;
    }
    .content .content-title p {
        font-size: 30px;
        padding: 0 6px 0 6px;
    }

 
}
